*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.hun{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.hun li{
    display: inline-block;
    width:30%;
    text-align: center;
    background:#efefef;
}
.hun li p{
    display: inline;
    font-size:18px;
    height:20px;
    line-height: 20px;
    font-weight: bold;
}
.hun li img{
    margin:0 auto;
}
.hun li span{
    font-size:12px;
}